.itemsLeft span {
  font-weight: 500;
}

.clear-completed-btn {
  font-weight: 500;
  padding: 5px 0 5px;
  background: none;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
