.todoContainer {
  max-height: 240px;
  overflow: auto;
  scrollbar-width: thin;
}

@media (min-width: 38em) {
  .todoContainer {
    max-height: 300px;
  }
}

.todoContainer::-webkit-scrollbar {
  width: 5px;
}

.todoContainer::-webkit-scrollbar-track {
  border-radius: 0 5px 0 0;
}

.todoContainer::-webkit-scrollbar-thumb {
  background: hsl(233, 13%, 49%);
  border-radius: 5px;
}

@supports (scrollbar-width: thin) {
  .todoContainer {
    scrollbar-color: hsl(233, 13%, 49%) hsl(237, 14%, 26%);
    scrollbar-width: thin;
  }
}

.todo {
  display: flex;
  align-items: center;
  padding: 16.5px 20px;
}

.todoBody {
  display: flex;
  align-items: center;
}

.todoCheckbox {
  position: relative;
  width: 25px;
  height: 25px;
  background: transparent;
  margin-right: 18px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.todoCheckbox:hover {
  border-color: hsl(280, 87%, 65%);
}

.todoCheckbox.completed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 100%;
  height: 100%;
  background-image: url(../../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 0.3s;
}

.todoCheckbox.completed {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: 0;
}

.todoTask {
  width: 200px;
  margin-bottom: -5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 38em) {
  .todoTask {
    width: 370px;
  }
}

.todoCheckbox.completed ~ .todoTask {
  text-decoration: line-through;
}

.removeTaskBtn {
  background: none;
  border: none;
  margin: 0 0 -4px auto;
  outline: none;
  cursor: pointer;
}

@media (min-width: 78em) {
  .removeTaskBtn {
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
  }

  .todo:hover .removeTaskBtn,
  .removeTaskBtn:focus {
    opacity: 1;
  }
}
